<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a ui-sref="dashboard">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li>
			<i class="icon-align-justify"></i>
			<a ui-sref="microService">MicroService</a>
		</li>
	</ul>
<div ng-controller="microServiceCtrl">
	<script type="text/ng-template" id="serviceInfoTable.html"> <!-- service info table template-->
		<div class="modal-header">
			<a class="close" ng-click="cancel()">×</a>
			<h3>Service info details</h3>
		</div>
		<div class="modal-body">
		<div class="sparkLineStats span4 widget green" onTablet="span5" onDesktop="span4">
			<h3>{{serviceDetailInfo.info}}</h3>
		</div><!-- End .sparkStats -->

		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>

	<script type="text/ng-template" id="serviceEnvInfoTable.html"> <!-- service info table template-->
		<div class="modal-header">
			<a class="close" ng-click="cancel()">×</a>
			<h3>Service Running Env info </h3>
		</div>
		<div class="modal-body">
		<div class="sparkLineStats span4 widget green" onTablet="span5" onDesktop="span4">
			<h3>{{runningServiceEnvInfo.name}}</h3>
			<ul class="unstyled">
				<li><span class="sparkLineStats3"></span>
					uploadTime:
					<span class="number">{{runningServiceEnvInfo.uploadTime}}</span>
				</li>
				<li><span class="sparkLineStats4"></span>
					cup cost:
					<span class="number">{{runningServiceEnvInfo.cupCost}}</span>
				</li>
				<li><span class="sparkLineStats5"></span>
					cup cost::
					<span class="number">{{runningServiceEnvInfo.memCost}}</span>
				</li>
				<li><span class="sparkLineStats6"></span>
					hard disk cost:
					<span class="number">{{runningServiceEnvInfo.hardDiskCost}}</span>
				</li>
				<li><span class="sparkLineStats7"></span>
					web io cost:
					<span class="number">{{runningServiceEnvInfo.webIOCost}}</span>
				</li>
			</ul>

			<div class="clearfix"></div>

		</div><!-- End .sparkStats -->

		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>

	<script type="text/ng-template" id="postJarFileTable.html"> <!-- post jar file table template-->
		<div class="modal-header">
			<a class="close" ng-click="cancel()">×</a>
			<h3>Service info details</h3>
		</div>
		<div class="modal-body">
		   <form class="form-horizontal">
			  <div class="control-group">
				<label class="control-label" for="inputHost">Host</label>
				<div class="controls">
				  <input type="text" id="inputHost" placeholder="127.0.0.1:8080">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="inputUserName">UserName</label>
				<div class="controls">
				  <input type="password" id="inputUserName" placeholder="UserName">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
				  <input type="password" id="inputPassword" placeholder="Password">
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn btn-info">deploy</button>
				</div>
			  </div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>

	<div class="row-fluid sortable"> <!--/service jar info table -->
		<div class="box span12" id="serviceJarInfoTable">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon user"></i><span class="break"></span>Stored Service </h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<table class="table table-striped table-bordered bootstrap-datatable datatable">
				  <thead>
					  <tr>
						  <th>Service Name</th>
						  <th>Upload Date</th>
						  <th>Description</th>
						  <th>Actions</th>
					  </tr>
				  </thead>
				  <tbody ng-repeat='info in jarInfo'>
					  <tr>
						<td>{{info.name}}</td>
						<td class="center">{{info.uploadTime}}</td>
						<td class="center">
							<span class="label label-success">{{info.description}}</span>
						</td>
						<td class="center">
							<a class="btn btn-success" href="#" ng-click="openServiceInfo(info.id)">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a   class="btn btn-info" href="#" ng-click="openPostJarFileForm()">
								<i class="halflings-icon white edit"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
				  </tbody>
				</table>
			</div>
		</div><!--/span-->
	</div><!--/row-->

	<div class="row-fluid sortable"> <!--/monitor table -->
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon user"></i><span class="break"></span>Running Service</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<table class="table table-striped table-bordered bootstrap-datatable datatable">
				  <thead>
					  <tr>
						  <th>Service Nane</th>
						  <th>Date Registered</th>
						  <th>Status</th>
						  <th>Actions</th>
					  </tr>
				  </thead>
				  <tbody ng-repeat='rServiceInfo in runningServiceInfo'>
					<tr>
						<td>{{rServiceInfo.name}}</td>
						<td class="center">{{rServiceInfo.registeredDate}}</td>
						<td class="center">
							<span class="label {{rServiceInfo.status=='up' ? ' label-success': ' label-important'}}">{{rServiceInfo.status}}</span>
						</td>
						<td class="center">
							<a class="btn btn-success" href="#" ng-click="openEnvServiceInfo(rServiceInfo.id)">
								<i class="halflings-icon white zoom-in"></i>
							</a>
							<a class="btn btn-info" href="#">
								<i class="halflings-icon white play"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white stop"></i>
							</a>
							<a class="btn btn-danger" href="#">
								<i class="halflings-icon white trash"></i>
							</a>
						</td>
					</tr>
				  </tbody>
			  </table>
			</div>
		</div><!--/span-->
	</div><!--/row-->

</div>
